# Entornos virtuales
venv/
env/
ENV/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Salidas del proceso (evita subir basura a GitHub)
output/
*.zip
*.pdf
*.png

# Notebook checkpoints
.ipynb_checkpoints/

notebooks/

docs/

data/

*.xls

*.xlsx

automatizacion_graficas_caracterizacion.py

automatizacion_graficas_caracterizacion.ipynb

*.md

*.gdoc

examples/